# =========================
# DATABASE (NEON)
# =========================
DATABASE_URL="postgresql://username:password@hostname/dbname?sslmode=require"

# =========================
# CLERK
# =========================
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"

NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL="/"

# =========================
# INTEGRACIONES (Microservicios WeShuttle)
# =========================
RIDER_APP_API_URL="https://proyecto-a-rider-weshuttle.vercel.app"
DRIVER_APP_API_URL="https://proyecto-a-driver2-weshuttle.vercel.app"
PAYMENTS_APP_API_URL="https://proyecto-a-payments-weshuttle.vercel.app"
FEEDBACK_APP_API_URL="https://proyecto-a-feedback-weshuttle.vercel.app"

USE_MOCK_PASSENGERS=false
NEXT_PUBLIC_RIDER_APP_URL=""
NEXT_PUBLIC_DRIVER_APP_URL=""
